// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/dts-v1/;

/* Bootloader installs ATF here */
/memreserve/ 0x80000000 0x200000;

#include <dt-bindings/leds/common.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include "an7581.dtsi"
#include "an7581-smartrg-dragontail.dtsi"
#include "an7581-smartrg-pon.dtsi"

/ {
	model = "SmartRG SDG-8716v";
	compatible = "smartrg,sdg-8716v", "airoha,an7581", "airoha,en7581";

	aliases {
		serial0 = &uart1;
		led-boot = &led_sys_green;
		led-failsafe = &led_sys_blue;
		led-running = &led_sys_white;
		led-upgrade = &led_sys_red;
	};

	chosen {
		bootargs = "console=ttyS0,115200 earlycon";
		stdout-path = "serial0:115200n8";
		linux,usable-memory-range = <0x0 0x80200000 0x0 0x7fe00000>;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		poll-interval = <100>;

		button-reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&en7581_pinctrl 0 GPIO_ACTIVE_LOW>;
		};
	};
};

&en7581_pinctrl {
	gpio-ranges = <&en7581_pinctrl 0 13 47>;

	mdio_pins: mdio-pins {
		mux {
			function = "mdio";
			groups = "mdio";
		};

		conf {
			pins = "gpio2";
			output-high;
		};
	};

	i2c1_pins: i2c1-pins {
		mux {
			function = "i2c";
			groups = "i2c1";
		};
	};

	pcie0_rst_pins: pcie0-rst-pins {
		conf {
			pins = "pcie_reset0";
			drive-open-drain = <1>;
		};
	};

	pcie1_rst_pins: pcie1-rst-pins {
		conf {
			pins = "pcie_reset1";
			drive-open-drain = <1>;
		};
	};

	pcie2_rst_pins: pcie2-rst-pins {
		conf {
			pins = "pcie_reset2";
			drive-open-drain = <1>;
		};
	};

	gswp1_led0_pins: gswp1-led0-pins {
		mux {
			function = "phy1_led0";
			pins = "gpio33";
		};
	};

	gswp2_led0_pins: gswp2-led0-pins {
		mux {
			function = "phy2_led0";
			pins = "gpio34";
		};
	};

	gswp3_led0_pins: gswp3-led0-pins {
		mux {
			function = "phy3_led0";
			pins = "gpio35";
		};
	};

	gswp4_led0_pins: gswp4-led0-pins {
		mux {
			function = "phy4_led0";
			pins = "gpio42";
		};
	};

	mmc_pins: mmc-pins {
		mux {
			function = "emmc";
			groups = "emmc";
		};
	};
};

&usb0 {
	status = "disabled";
};

&usb1 {
	status = "disabled";

	mediatek,u3p-dis-msk = <0x1>;
	phys = <&usb1_phy PHY_TYPE_USB2>;
};

&mmc0 {
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc_pins>;
	pinctrl-1 = <&mmc_pins>;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	card@0 {
		#address-cells = <0>;
		#size-cells = <0>;
		compatible = "mmc-card";
		reg = <0>;

		block {
			compatible = "block-device";

			partitions {
				block-partition-factory {
					partname = "factory";

					nvmem-layout {
						compatible = "fixed-layout";
						#address-cells = <1>;
						#size-cells = <1>;

						eeprom_factory_0: eeprom@0 {
							reg = <0x0 0x1e00>;
						};

						precal_factory_1e10: precal@1e10 {
							reg = <0x1e10 0xedfd0>;
						};

						pon_factory_1d0000: pon@1d0000 {
							reg = <0x1d0000 0x400>;
						};

						onu_type_factory_1e0000: onu_type@1e0000 {
							reg = <0x1e0000 0x10>;
						};
					};
				};

				block-partition-mfginfo {
					partname = "mfginfo";

					nvmem-layout {
						compatible = "adtran,mfginfo";

						macaddr: mfg-mac {
							#nvmem-cell-cells = <1>;
						};
					};
				};
			};
		};
	};
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	status = "okay";

	/**
	 * !!!! WARNING !!!!
	 * i2c1 won't function unless you poke the iomux register
	 *
	 * devmem 0x1fa20214 32 0x00002000
	 *
	 * Airoha needs to fix this in their driver
	 */

	system-leds@30 {
		compatible = "srg,sysled";
		reg = <0x30>;
		#address-cells = <1>;
		#size-cells = <0>;

		led_sys_red: system_red {
			label = "red";
			reg = <1>;
		};

		led_sys_green: system_green {
			label = "green";
			reg = <2>;
		};

		led_sys_blue: system_blue {
			label = "blue";
			reg = <3>;
		};

		led_sys_white: system_white {
			label = "white";
			reg = <4>;
		};
	};
};

&pcie0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie0_rst_pins>;
	status = "okay";
};

&pcie1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie1_rst_pins>;
	status = "okay";

	pcie@1,0 {
		reg = <0x0000 0 0 0 0>;
		#address-cells = <3>;
		#size-cells = <2>;

		radio0: mt7992@0,0 {
			reg = <0x0000 0 0 0 0>;
			#address-cells = <1>;
			#size-cells = <0>;

			airoha,npu = <&npu>;
			airoha,eth = <&eth>;
			nvmem-cells = <&eeprom_factory_0>, <&precal_factory_1e10>;
			nvmem-cell-names = "eeprom", "precal";
			ieee80211-freq-limit = <2400000 2500000>, <5170000 5835000>;

			band@0 {
				/* 2.4 GHz */
				reg = <0>;
				nvmem-cells = <&macaddr 0x4>;
				nvmem-cell-names = "mac-address";
			};

			band@1 {
				/* 5 GHz */
				reg = <1>;
				nvmem-cells = <&macaddr 0xa>;
				nvmem-cell-names = "mac-address";
			};
		};
	};
};

&pcie2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie2_rst_pins>;
	status = "okay";
};

&pon_bob {
	nvmem-cells = <&pon_factory_1d0000>, <&onu_type_factory_1e0000>;
	nvmem-cell-names = "bob_data", "onu_type";

	status = "okay";
};

&pon_phy {
	status = "okay";
};

&xpon_mac {
	nvmem-cells = <&onu_type_factory_1e0000>, <&macaddr 0x0>;
	nvmem-cell-names = "onu_type", "pon_mac";

	status = "okay";
};

&mdio {
	phy31: ethernet-phy@1f {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <0x1f>;

		firmware-name = "as21x1x_fw.bin";

		reset-deassert-us = <1000000>;
		reset-assert-us = <1000000>;
		reset-gpios = <&en7581_pinctrl 27 GPIO_ACTIVE_LOW>;

		leds {
			#address-cells = <1>;
			#size-cells = <0>;

			led@0 {
				reg = <0>;
				color = <LED_COLOR_ID_GREEN>;
				function = LED_FUNCTION_LAN;
				function-enumerator = <0>;
				default-state = "keep";
			};

			led@1 {
				reg = <1>;
				color = <LED_COLOR_ID_GREEN>;
				function = LED_FUNCTION_LAN;
				function-enumerator = <1>;
				default-state = "keep";
			};
		};
	};
};

&npu {
	status = "okay";
};

&eth {
	nvmem-cells = <&macaddr 0x0>;
	nvmem-cell-names = "mac";
	status = "okay";
};

&gdm1 {
	label = "dsa0";

	status = "okay";
};

&gdm2 {
	nvmem-cells = <&macaddr 0x0>;
	nvmem-cell-names = "mac-address";

	status = "okay";
};

&gdm4 {
	label = "lan1";
	phy-handle = <&phy31>;
	phy-mode = "usxgmii";

	status = "disabled";
};

&switch {
	status = "okay";
};

&gsw_port1 {
	status = "disabled";
};

&gsw_phy2 {
	status = "okay";
};

&gsw_phy3 {
	status = "okay";
};

&gsw_phy4 {
	status = "okay";
};

&gsw_port4 {
	label = "wan";
};
